.griev {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 10px;
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.griev-img {
  background: url("./leaf.jpg");
  background-size: cover;
  height: 95vh;
}

.griev-title {
  display: flex;
  justify-content: center;
  color: darkcyan;
  font-size: 36px;
  text-align: center;
  font-family: "Gotham", sans-serif;
  padding: 25px;
  margin-top: 50px !important;
}

.griev-click {
  background-color: white;
  box-shadow: 5px 5px black;
  text-align: center;
  padding: 15%;
}

.griev-text {
  font-size: 24px;
}

.new-comp {
  display: flex;
  justify-content: center;
}

.a-comp {
  color: white;
  padding: 10px 18px;
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
}

.a-comp:hover {
  background-color: #e31138;
  transition: 0.6s;
  color: white;
}

@media (max-width: 720px) {
  .griev {
    width: 100%;
    height: auto;
    margin-top: 10px;

    padding: 10px 10px;
    background: #abbaab; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffffff,
      #abbaab
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffffff,
      #abbaab
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .griev-text {
    font-size: 16px;
  }
  .a-comp {
    color: white;
    padding: 10px 18px;
    background-color: green;
    font-size: 8px;
    border-radius: 5px;
  }

  .griev-img {
    background: url("./leaf.jpg");
    background-size: cover;
    height: auto;
  }
  .griev-click {
    background-color: white;
    box-shadow: 5px 5px black;
    text-align: center;
    padding: 15%;
  }
}
